# deploy/docker-compose.yml
version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: pass123
    ports: ["27017:27017"]
    volumes:
      - mongo_data:/data/db

  neo4j:
    image: neo4j:5
    container_name: neo4j
    environment:
      NEO4J_AUTH: neo4j/neo4jpass
    ports: ["7475:7474", "7688:7687"]
    volumes:
      - neo4j_data:/data

  stakeholders-api:
    build:
      context: ../services/Stakeholders.API
    environment:
      ASPNETCORE_URLS: http://+:8080
      Jwt__Secret: CHANGE_ME_MIN_32_CHARS
      Jwt__Issuer: SOA
      Jwt__Audience: SOA
      Mongo__Conn: mongodb://admin:pass123@mongo:27017
      Mongo__Db: StakeholdersDB
      Mongo__UsersCollection: Users
    depends_on: [mongo]
    ports: ["5101:8080"]

  followers-api:
    build:
      context: ../services/Followers.API
    environment:
      ASPNETCORE_URLS: http://+:8080
      Jwt__Secret: CHANGE_ME_MIN_32_CHARS
      Jwt__Issuer: SOA
      Jwt__Audience: SOA
      Neo4j__Uri: bolt://neo4j:7687
      Neo4j__User: neo4j
      Neo4j__Pass: neo4jpass
    depends_on: [neo4j]
    ports: ["5102:8080"]

  tours-api:
    build:
      context: ../services/Tours.API
    environment:
      ASPNETCORE_URLS: http://+:8080
      Jwt__Secret: CHANGE_ME_MIN_32_CHARS
      Jwt__Issuer: SOA
      Jwt__Audience: SOA
      Mongo__Conn: mongodb://admin:pass123@mongo:27017
      Mongo__Db: TourDB
    depends_on: [mongo]
    ports: ["5103:8080"]

  gateway:
    build:
      context: ../gateway
    environment:
      ASPNETCORE_URLS: http://+:8080
    depends_on: [stakeholders-api, followers-api, tours-api]
    ports: ["5000:8080"]

volumes:
  mongo_data:
  neo4j_data:
