version: "3.8"
services:
  mongo:
    image: mongo:7
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    ports: ["27017:27017"]
    volumes: [ "mongo_data:/data/db" ]
    networks: [ app-net ]

  neo4j:
    image: neo4j:5
    environment:
      NEO4J_AUTH: "neo4j/${NEO4J_PASS}"
    ports: ["7474:7474","7687:7687"]
    volumes: [ "neo4j_data:/data" ]
    networks: [ app-net ]

  stakeholders-api:
    build:
      context: ../services/Stakeholders.API
    environment:
      ASPNETCORE_URLS: http://+:8080
      Jwt__Secret: ${JWT_SECRET}
      Jwt__Issuer: ${JWT_ISSUER}
      Jwt__Audience: ${JWT_AUDIENCE}
      Mongo__Conn: mongodb://${MONGO_USER}:${MONGO_PASS}@mongo:27017
      Mongo__Db: StakeholdersDB
      Mongo__UsersCollection: Users
    depends_on: [ mongo ]
    ports: 
      - "5101:8080"  # <--- Direktan pristup na localhost:5101
    networks: [ app-net ]

  followers-api:
    build:
      context: ../services/Followers.API
    environment:
      ASPNETCORE_URLS: http://+:8080
      Jwt__Secret: ${JWT_SECRET}
      Jwt__Issuer: ${JWT_ISSUER}
      Jwt__Audience: ${JWT_AUDIENCE}
      Neo4j__Uri: bolt://neo4j:7687
      Neo4j__User: neo4j
      Neo4j__Pass: ${NEO4J_PASS}
    depends_on: [ neo4j ]
    ports: 
      - "5102:8080"  # <--- Direktan pristup na localhost:5102
    networks: [ app-net ]

  tours-api:
    build:
      context: ../services/Tours.API
    environment:
      ASPNETCORE_URLS: http://+:8080
      Jwt__Secret: ${JWT_SECRET}
      Jwt__Issuer: ${JWT_ISSUER}
      Jwt__Audience: ${JWT_AUDIENCE}
      Mongo__Conn: mongodb://${MONGO_USER}:${MONGO_PASS}@mongo:27017
      Mongo__Db: TourDB
    depends_on: [ mongo ]
    ports: 
      - "5103:8080"  # <--- Direktan pristup na localhost:5103
    networks: [ app-net ]

  gateway:
    build:
      context: ../gateway
    environment:
      ASPNETCORE_URLS: http://+:8080
    ports: ["5000:8080"]
    depends_on: [ stakeholders-api, followers-api, tours-api ]
    networks: [ app-net ]

networks:
  app-net:
    driver: bridge

volumes:
  mongo_data:
  neo4j_data: